<a href="https://colab.research.google.com/github/Dinarque/INALCO_Inalco_M2_langage_de_scripts_2024_eleves/blob/main/Cours/exercices_pythonismes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python tricks : quelques exercices d'application

1) Créez une liste de 100 éléments qui contient les chiffres de 1 à 4 qui se répètenet en boucle

In [ ]:
list(range(1,5))*25

[1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4]

2) En une ligne de code, retournez la liste des nombres pairs présents dans la liste suivante

In [ ]:
liste = [1,25,4,6,8,95,32,65,45,54,1,7,2,0]
[i for i in liste if not i%2]

[4, 6, 8, 32, 54, 2, 0]

3) En utilisant une fonction lambda, transformez la liste suivante en mots en majuscules

In [ ]:
liste = ["chacal","renard","caribou","chat","boucanal"]
list(map(lambda x:x.upper(), liste))

['CHACAL', 'RENARD', 'CARIBOU', 'CHAT', 'BOUCANAL']

4) Ecrire ***en une ligne de code *** un dictionnaire qui attribue à un mot dans une liste son index dans une liste de mots

In [ ]:
liste = ["chacal","renard","caribou","chat","boucanal"]
{i:x for x,i in enumerate(liste)}

{'chacal': 0, 'renard': 1, 'caribou': 2, 'chat': 3, 'boucanal': 4}

5) En **Une seule ligne de code** combinez deux listes de taille égale en un dicitonnaire

In [ ]:
liste_cles = ['a', 'b', 'c']
liste_valeurs = [1, 2, 3]
dic = dict(zip(liste_cles, liste_valeurs))
dic

{'a': 1, 'b': 2, 'c': 3}

6) sélectionnez d'un coup le premier et le dernier animal du tuple sans utiliser de slicing / de crochet

In [ ]:
tupl = ("chacal","renard","caribou","chat","boucanal")

first, *middle, last = tupl

7) écrire un programme qui renvoie la liste des indices des éléments pairs et la liste des éléments impairs d'une liste

In [ ]:
liste = [1,25,4,6,8,95,32,65,45,54,1,7,2,0]

(lambda x : ([i for i,j in enumerate(x) if i%2] ,[i for i,j in enumerate(x) if not i%2])) (liste)

([1, 3, 5, 7, 9, 11, 13], [0, 2, 4, 6, 8, 10, 12])

8) écris une fonction qui prend en entrée un dictionnaire associant un caractère à son nombre d'occurrence et renvoie une guirlande de ces caractères séparés par "_".
Indice : il faut utiliser DEUX pythonismes.

In [10]:
dic = {"!": 8, "*": 5, "?":2}
print("_".join([k for k, v in dic.items() for _ in range(v)]))

!_!_!_!_!_!_!_!_*_*_*_*_*_?_?

9)  filtrer le dictionnaire de sorte à ne garder que les paires où la longueur de la clé est strictement supérieure à la valeur associée

In [1]:
dictionnaire = {
    "éléphant": 3,
    "chat": 5,
    "crocodile": 7,
    "chien": 4,
    "girafe": 6
}

dic = {k : v for k, v in dictionnaire.items() if len(k)>v}
print(dic)

liste_tuples = [("pomme", 10), ("banane", 5), ("cerise", 12), ("datte", 7)]

{'éléphant': 3, 'crocodile': 7, 'chien': 4}

10) La liste de tuples contient le prix au kilo de certains fruits.
Trier cette liste selon le prix par ordre croissant

In [12]:
liste_tuples = [("pomme", 10), ("banane", 5), ("cerise", 12), ("datte", 7)]
sorted_liste = sorted(liste_tuples, key=lambda x: x[1])
print(sorted_liste)

[('banane', 5), ('datte', 7), ('pomme', 10), ('cerise', 12)]